.competences,
.langues,
.contact,
.experience,
.formation {
    background-color: #E8DAD1;
    padding: 15px;
    text-align: justify;
    border: 2px none;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #6E628A;
}