@import "_body";

$gap: 10px;

.content {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: $gap;
    grid-auto-rows: auto;
}

h1 {
    font-weight: bold;
}

.name {
    grid-column: 1/span 2;
    grid-row: 1/2;
    background-color: #E8DAD1;
    text-align: center;
    border: 2px none;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #6E628A;
}

@import "_grid";
h2 {
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

.competences {
    grid-column: 1;
    grid-row: 3/span 2;
}
.langues {
    grid-column: 1;
    grid-row: 5/span 2;
}
.contact {
    grid-column: 1;
    grid-row: 7/span 2;
}
.experience {
    grid-column: 2;
    grid-row: 3/span 3;
}
.formation {
    grid-column: 2;
    grid-row: 6/span 3;
}



@import "_logo";
.logogithub {
    padding-right: $gap;
}
.logolinkedin {
    padding-left: $gap;
}

@import "_links";